@model IEnumerable<Student>

@{
    ViewData["Title"] = "StudentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StudentList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { name = item.NameSurname }) |
                    @Html.ActionLink("Detail Name", "DetailByName", new { name = item.NameSurname }) |
                    @Html.ActionLink("Detail ID", "DetailById", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { name = item.NameSurname })
                </td>
            </tr>
        }
    </tbody>
</table>
